<!DOCTYPE html>
<html lang="en" ng-app="moviesApp" ng-controller="MoviesAppController">
<head>
    <meta charset="utf-8" />
    <title>Book My Movie</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/angular.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-animate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-aria.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-material.min.js" type="text/javascript"></script>
    <script src="~/Scripts/promise.any.js" type="text/javascript"></script>
    <script src="~/Scripts/app/types.js" type="text/javascript"></script>
    <script src="~/Scripts/app/enums.js" type="text/javascript"></script>
    <script src="~/Scripts/app/moviesController.js" type="text/javascript"></script>
    <script src="~/Scripts/app/movieService.js" type="text/javascript"></script>
    <script src="~/Scripts/app/moviesUrlService.js" type="text/javascript"></script>

    @Styles.Render("~/Content/css")
</head>
<body ng-cloak>

    <h1>Book My Movie</h1>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
