body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.gridStyle {
  width: 785px;
  height: 400px;
}

html,body{
    font-family:'Roboto',sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
}

.md-toolbar-tools{
    background-color:tomato
}

md-toolbar .md-toolbar-tools h1{
    font-size:1.250em;
    font-weight:400;
    padding-left:5px;
    color:whitesmoke
}

md-list{
    padding: 0px 0px 8px 0px;
}

md-card{
    background-color:whitesmoke;
}


#toolBarIcon{
    padding-left:5px;
    padding-right:5px;
}

#content{
    padding-left:240px;
    padding-right:240px;
    padding-top:5px;
    background-color:white;
    
}


